[alias]
  # いい感じのグラフでログを表示(ファイルの変更付き)
  graph = log --graph --date=short --decorate=short --stat --date-order --branches --all --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  # 上の省略形(コミットのみ)
  gr = log --graph --date=short --decorate=short --date-order --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  # status
  st = status
  # Untracked filesを表示せず，not stagedと，stagedだけの状態を出力する
  stt = status -uno
  # diff
  df = diff
  # 行ごとの差分じゃなくて，単語レベルでの差分を色付きで表示する
  dff = diff --word-diff
  # ブランチの差分の統計情報だけを表示
  bdf = diff --stat
  # gitのカレントブランチをpushできる -uで自動追跡する
  p = !git push -u origin `git rev-parse --abbrev-ref HEAD`
  # addした時にすべてのファイルをステージングするか選択する
  ad = add . -p
  # commit
  cm = commit
  # checkout
  ch=checkout


#[user]
  #jfc
  #name = s.inami
  #email = inami@jfc-co.com

  #github
  #name = inazou
  #email = inami.prs@gmail.com
[core]
  editor = /usr/bin/vim
[user]
  useConfigOnly = true
